{% extends "base.html" %}
{% block title %}Event {{ response['event'].name}} Information{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <h1>{{ self.title() }}</h1>

    <button type="button" class="btn btn-danger" id="hiddenDelete" onclick="$('#deleteFlash').toggleClass('hidden'); $('#hiddenDelete').toggleClass('hidden');">Delete Event</button>

        <div class="alert alert-danger alert-dismissible hidden" id= "deleteFlash" role="alert">
            <button type="button" onclick="$('#hiddenDelete').toggleClass('hidden');" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> You cannot undo this action. Are you sure you want to delete the event and all its associated data?
            <div class="clearfix"></div>
            <a href="/event/{{ response['event'].id }}/delete" class="btn btn-success" >Yes! Delete</a>
        </div>

        <h2><a href="/event/{{response['event'].id}}/edit">General</a></h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Event Start Datetime</th>
                <th>Event Ending Datetime</th>
                <th>Set Up Start Time</th>
                <th>Teardown Ending Time</th>
            </tr>
            <tr>
                <td>{{ response['event'].name}}</td>
                <td>{{ response['event'].description }}</td>
                <td>{{ response['event'].date_start }}</td>
                <td>{{ response['event'].date_end }}</td>
                <td>{{ response['event'].setupStart }}</td>
                <td>{{ response['event'].teardownEnd }}</td>
            </tr>
        </table>

        <h2><a href="/event/{{response['event'].id}}/task">Tasks</a></h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Date Due</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned To</th>
            </tr>
        {% for task in response['task'] %}
            <tr>
                <td><a href="/event/{{task.event_id}}/task/{{task.id}}/edit">{{ task.name }}</a></td>
                <td>{{ task.dueDate }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.assignedTo }}</td>
            </tr>
        {% endfor %}
        </table>

        <h2><a href="/event/{{response['event'].id}}/budget">Budget</a></h2>
         <table class="table table-bordered table-striped">
            <tr>
                <th>Total Expenses</th>
                <th>Count Invoices Paid</th>
                <th>Count of Invoices Not Paid</th>
            </tr>
            <tr>
                <td class="text-danger">{{ totalExpense }}</td>
                <td class="text-success">{{ totalCountPaid }}</td>
                <td class="text-danger">{{ totalCountNotPaid }}</td>
            </tr>
        </table>

        <h2><a href="/event/{{response['event'].id}}/ticket">Ticket</a></h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Price Total Sold</th>
                <th>Number Total Sold</th>
                <th>Total Not Sold</th>
                <th>Total Tix Selling</th>
            </tr>
            <tr>
                <td class="text-success">{{ totalIncome }}</td>
                <td class="text-success">{{ totalTixSold }}</td>
                <td class="text-danger">{{ totalTixNotSold }}</td>
                <td class="text-warning">{{ totalTix }}</td>
            </tr>
        </table>
 {% endblock %}