{% extends "base.html" %}
{% block title %}Tasks for Event {{current_event.name}}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
        <h1>Tasks for <a href="/event/{{ current_event.id }} ">{{ current_event.name }}</a></h1>
        <a class="btn btn-default" href="{{ request.path }}/new">New Task For Event</a>
</div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Date Due</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned To</th>
            </tr>
        {% for task in response %}
            <tr>
                <td><a href="/event/{{task.event_id}}/task/{{task.id}}/edit">{{ task.name }}</a></td>
                <td>{{ task.dueDate }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.assignedTo }}</td>
            </tr>
        {% endfor %}
        </table>
            </div>
{% endblock %}