{% extends "base.html" %}
{% block title %}Tasks for Event ID {{response[0].event_id}}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <h1>{{ self.title() }}</h1>

        <a class="btn btn-default" href="{{ request.path }}/new">New Task For Event</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date Due</th>
                <th>Priority</th>
                <th>Status</th>
                <th>assignedTo</th>
            </tr>
        {% for task in response %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.dueDate }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.assignedTo }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}