{% extends "base.html" %}
{% block title %}Ticket for Event ID {{response[0].event_id}}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <h1>{{ self.title() }}</h1>

        <a class="btn btn-default" href="{{ request.path }}/new">New Ticket</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Section</th>
                <th>Seat Num</th>
                <th>isSold</th>
            </tr>
        {% for ticket in response[:-2] %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.price }}</td>
                <td>{{ ticket.section }}</td>
                <td>{{ ticket.seat_num }}</td>
                <td>{{ ticket.isSold }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td>{{ response[-1].totalSold }}</td>
                <td>Price Total Sold</td>
                <td>Number Total Sold</td>
                <td>{{ response[-2].totalSold }}</td>
            </tr>
        </table>
{% endblock %}