{% extends "base.html" %}

{% block title %}New User{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=POST action="{{ request.path }}">
    <div class="form-group">
            <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password_conf) }}
            </dl>
        <input type=submit>
    </div>
</form>
{% endblock %}