{% extends "base.html" %}
{% block title %}Budget for Event {{ current_event.name }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <h1>Budget for <a href="/event/{{ current_event.id }}">{{ current_event.name }}</a></h1>

<a class="btn btn-default" href="{{ request.path }}/new">New Invoice For Event</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Total</th>
                <th>Description</th>
                <th>Has been paid?</th>
                <th>Vendor ID</th>
            </tr>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoices[invoice].total }}</td>
                <td><a href="/event/{{ current_event.id }}/budget/{{ invoice }}/edit">{{ invoices[invoice].description }}</a></td>
                <td>{{ invoices[invoice].isPaid }}</td>
                <td>{{ invoices[invoice].vendor_id }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="text-danger">{{ current_budget.totalExpenses }}</td>
                <td class="text-danger">{{ current_budget.totalCountNotPaid }}</td>
                <td class="text-success">{{ current_budget.totalCountPaid }}</td>
                <td>{{ current_budget.totalInvoiceCount }}</td>
            </tr>
            <tr>
                <td><strong class="text-danger">Total Expenses</strong></td>
                <td><strong class="text-danger">Total Count Not Paid</strong></td>
                <td><strong class="text-success">Total Paid</strong></td>
                <td><strong>Total Invoice Count</strong></td>
            </tr>
        </table>
{% endblock %}