{% extends "base.html" %}
{% block title %}Budget for Event ID {{ event_id }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <h1>{{ self.title() }}</h1>

<a class="btn btn-default" href="{{ request.path }}/new">New Invoice For Event</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Total</th>
                <th>Description</th>
                <th>isPaid?</th>
                <th>Vendor ID</th>
            </tr>
        {% for invoice in response %}
            <tr>
                <td>{{ invoice }}</td>
                <td>{{ response[invoice].total }}</td>
                <td>{{ response[invoice].description }}</td>
                <td>{{ response[invoice].isPaid }}</td>
                <td>{{ response[invoice].vendor_id }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td>{{ totalExpense }}</td>
                <td><strong>Total Expenses</strong></td>
                <td>{{ totalSold }}</td>
                <td><strong>Number Paid</strong></td>
            </tr>
        </table>
{% endblock %}