<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} | My Event Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ><a href="/event" role="button">All Events</a></li>
            <li role="presentation" ><a href="/event/new" role="button">New Event</a></li>
            <li role="presentation" ><a href="/vendor" role="button">Vendors</a></li>
            <li role="presentation" ><a href="/user" role="button">Users</a></li>
        </ul>
    </div>

    <div class="container">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="alert alert-success">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>