<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} | My Event Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg btn-group-justified" role="btn-group">
            <a class="btn btn-default" href="/event" role="button">All Events</a>
            <a class="btn btn-default " href="/event/new" role="button">New Event</a>
            <a class="btn btn-default " href="/vendor" role="button">Vendors</a>
            <a class="btn btn-default " href="/user" role="button">Users</a>
        </div>
    </div>

    <div class="container">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="alert alert-success">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>